<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <title>Cobbgo</title>
  </head>

<body>

<h1>Welcome to cobbgo!</h1>
</br>

<a class="btn btn-primary btn-lg" href="/cobbgo/add">Add Profile</a>

<h2>A list of system profiles</h2>
<table class="table table-hover">
  <tr>
    <td><strong>Hostname</strong></td>
    <td><strong>MacAddress</strong></td>
    <td><strong>Kickstart Profile</strong></td>
    <td><strong>Edit</strong></td>
    <td><strong>Delete</strong></td>
  <tr>
  {{ range $k, $v := . }}
  <tr>
    <td>{{ $k }}</td>
    <td>{{ $v.macaddr }}</td>
    <td>{{ $v.ksprofile }}</td>
    <td>
        <form action="/cobbgo/edit/{{ $k }}" method="GET">
          <button type="submit" class="btn btn-default">Edit</button>
        </form>
    </td>
    <td>
        <form action="/cobbgo/delete/{{ $k }}" method="POST">
          <button type="submit" class="btn btn-default">Delete</button>
        </form>
    </td>
  </tr>
  {{ end }}
</table>

</body>
</html>
